body {
  margin-left: 100px;
  margin-right: 100px;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.newsletter {
  color: #00bcfc;
  font-weight: 900;
  font-family: "PT SERIF", Georgia, "Times New Roman", Times, serif;
  letter-spacing: -1px;
}

.newsletter:hover {
  color: #999;
}

.s:hover {
  color: #999;
  text-decoration: underline;
}

.signup {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  color: #999;
  font-family: "PT Serif", Georgia, sans-serif;
}

.newscientist {
  font-size: 60px;
  letter-spacing: -5px;
  font-family: "PT SERIF", Georgia, "Times New Roman", Times, serif;
  margin-right: 50px;
}

.halfpricesale {
  color: white;
  background-color: #00bcfc;
  padding: 10px;
  font-family: "PT SERIF", Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 50px;
}

.more {
  list-style: none;
}

.b {
  font-weight: 800;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: fit-content;
  z-index: 1;
}

.ext-more:hover .dropdown-content {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.nav-link:hover {
  color: #00bcfc;
  text-decoration: #000 underline 5px;
  text-underline-offset: 5px;
}

.n {
  color: #00bcfc;
}

div.headerline {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-top: -10px;
  margin-left: 50px;
}

div.headingone {
  margin-left: 70px;
  font-size: 30px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  letter-spacing: -5px;
}

div.headingtwo {
  margin-top: -60px;
}

.author {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.lc {
  color: #00bcfc;
}

div.image {
  margin-left: 70px;
  margin-top: 20px;
}

div.img-credit {
  margin-left: 70px;
  color: brown;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

div.img-ref {
  margin-left: 70px;
  color: brown;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
}

div.firstbody {
  margin-left: 70px;
  font-size: large;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

.exp {
  color: #00bcfc;
}

div.secondbody {
  margin-top: 30px;
}

.jm {
  color: #00bcfc;
}

div.readmore {
  background-color: #f5f5f5;
  width: 800px;
  height: 40px;
  margin: 50px 0 30px 0;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  line-height: 40px;
}

.mic {
  color: #00bcfc;
}

.sed {
  color: #00bcfc;
}

div.journal-ref {
  width: 800px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: medium;
}

.doi {
  color: #00bcfc;
}

.s-up {
  font-size: medium;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  margin-top: 15px;
}

.launchpad {
  color: #00bcfc;
}

.more {
  width: 800px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  margin-top: 30px;
  font-size: medium;
}

.planets {
  background-color: #005587;
  color: white;
  margin-right: 10px;
  padding: 15px;
  border-radius: 4px;
}

.mars {
  background-color: #005587;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 4px;
}

.NN {
  padding: 20px;
}