body {
  margin-left: 100px;
  margin-right: 100px;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.newsletter {
  color: #00bcfc;
  font-weight: 900;
  font-family: "PT SERIF", Georgia, "Times New Roman", Times, serif;
}

.newscientist {
  font-size: 60px;
  letter-spacing: -5px;
  font-family: "PT SERIF", Georgia, "Times New Roman", Times, serif;
}

.halfpricesale {
  color: white;
  background-color: #00bcfc;
  padding: 10px;
  font-family: "PT SERIF", Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.more {
  list-style: none;
}

.b {
  font-weight: 800;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
